@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes like {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes like-heart {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    transform: scale(1.2);
  }
  30% {
    transform: scale(0.95);
  }
  45%,
  80% {
    opacity: 0.9;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes story-progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-like {
  animation: like 0.3s ease-in-out;
}

.animate-like-heart {
  animation: like-heart 1s ease-in-out forwards;
}

.animate-story-progress {
  animation: story-progress 5s linear forwards;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
